@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
  font-family: 'Bree Serif', serif;
  background-color: #ecf0f1;
  color: #2c3e50;
}

.clock {
  width: 400px;
  height: 100px;
  border-radius: 100px;
  margin: 50px auto;
  cursor: pointer;
}

.timer {
  text-align: center;
  margin-top: 120px;
}

.row {
  text-align: center
}

#pause {
  background-color: #2ecc71;
}

#reset {
  background-color: #e74c3c;
}

#pause p, #reset p {
  font-size: 4em;
  color: white;
  padding-top: 5px;
}

#title {
  font-size: 7.5em;
}

#clock-data h3 {
  font-size: 6em;
}
